.first-div{
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    left:0;
}
.second-div{
    position: fixed;
    height: 100px;
    width: 100px;
    left:50%;
    top: 50%;
    /* margin: -100px 0px 0px -100px; */
    margin-top: -50px;
    margin-left: -50px;
    background-color: black;
}

/* flex */
.first-flex-div{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.second-flex-div{
    height: 100px;
    width: 100px;
    background-color: blue;
}